body {
  background-color: #e4f4f1;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

header {
  border-bottom: 1px solid #e4f4f1;
  padding: 0 0 30px 0;
}

a {
  color: #62c495;
}

main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid #e4f4f1;
  padding: 30px 0 0 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
}

.weather-app-details strong {
  color: #349f6b;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
  line-height: 88px;
}

.weather-app-unit {
  font-size: 28px;
  margin-top: 6px;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px #41326414;
  border-radius: 16px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.search-form-input {
  background-color: #e9f4f2;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #62c495;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

.search-form-button:hover {
  background-color: #8fcdaf;
  cursor: pointer;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.weather-forecast-date {
  color: rgba(39, 33, 66, 0.4);
  text-align: center;
}

.weather-forecast-temperature {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.weather-forecast-temperature-max {
  color: #349f6b;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
}

.weather-forecast-temperature-min {
  color: #8f81b3;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
}

.weather-forecast-icon {
  width: 80%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .weather-app-city {
    font-size: 24px;
  }

  .weather-app-temperature {
    font-size: 48px;
  }

  .search-form-input {
    width: 60%;
    font-size: 13px;
  }

  .search-form-button {
    font-size: 13px;
    padding: 15px 22px;
  }

  .weather-app-unit {
    font-size: 18px;
  }

  .weather-forecast-icon {
    width: 50%;
  }

  .weather-forecast-temperature-max {
    font-size: 12px;
  }

  .weather-forecast-temperature-min {
    font-size: 12px;
  }

  .weather-forecast-date {
    font-size: 14px;
  }

  .weather-app-details {
    font-size: 13px;
  }

  .weather-app-details strong {
    font-size: 13px;
  }

  footer {
    font-size: 11px;
  }
}
